<!DOCTYPE html>
<html lang="en">

<head>
    <title>Burger Creator</title>
</head>
<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Fascinate|Suez+One" rel="stylesheet">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
body {
    background-color: #ec2400;
    /*background-color: white;*/
    color: black;
    font-family: 'Suez One', serif;
}

h1 {
    text-shadow: 3px 3px black;
    text-align: center;
    font-family: 'Fascinate', cursive;
}

h4 {
	font-size: 50px;
	font-family: 'Fascinate', cursive;
	text-decoration: underline;
}

h2 {
	font-size: 40px;
	font-family: 'Fascinate', cursive;
}
</style>

<body>
    {{{ body }}}
</body>

</html>